.defile
{
margin: auto;
display:block ;
margin-top: 10px;
margin-bottom: 50px;
height: 300px;
width: 1200px; 
position: relative ;
background:green ;
}
.position
{
    z-index : 2;
}

button
{
    margin-top: 10px;
    margin-bottom: 50px;
    z-index : 1;
}
